In [1]:
import pandas as pd

In [2]:
## Read in all files
data_jan = pd.read_csv("data/raw_datasets/JC-201901-citibike-tripdata.csv")
data_feb = pd.read_csv("data/raw_datasets/JC-201902-citibike-tripdata.csv")
data_mar = pd.read_csv("data/raw_datasets/JC-201903-citibike-tripdata.csv")
data_apr = pd.read_csv("data/raw_datasets/JC-201904-citibike-tripdata.csv")
data_may = pd.read_csv("data/raw_datasets/JC-201905-citibike-tripdata.csv")
data_jun = pd.read_csv("data/raw_datasets/JC-201906-citibike-tripdata.csv")
data_jul = pd.read_csv("data/raw_datasets/JC-201907-citibike-tripdata.csv")
data_aug = pd.read_csv("data/raw_datasets/JC-201908-citibike-tripdata.csv")
data_sep = pd.read_csv("data/raw_datasets/JC-201909-citibike-tripdata.csv")
data_oct = pd.read_csv("data/raw_datasets/JC-201910-citibike-tripdata.csv")
data_nov = pd.read_csv("data/raw_datasets/JC-201911-citibike-tripdata.csv")
data_dec = pd.read_csv("data/raw_datasets/JC-201912-citibike-tripdata.csv")

In [3]:
## Add month column to each dataset
data_jan["month"]="Jan"
data_feb["month"]="Feb"
data_mar["month"]="Mar"
data_apr["month"]="Apr"
data_may["month"]="May"
data_jun["month"]="Jun"
data_jul["month"]="Jul"
data_aug["month"]="Aug"
data_sep["month"]="Sep"
data_oct["month"]="Oct"
data_nov["month"]="Nov"
data_dec["month"]="Dec"

In [4]:
## Concat all dataframes into one
frames = [data_jan, data_feb, data_mar, data_apr, data_may, data_jun,
         data_jul, data_aug, data_sep, data_oct, data_nov, data_dec]

result = pd.concat(frames)

In [5]:
## Rename gender to Unknown, Male and Female
result["gender"].replace({0: "Unknown", 1: "Male", 2: "Female"}, inplace=True)
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,Jan
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,Jan
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,Jan
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,Jan
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,Jan

In [6]:
result.to_csv('data/JC_citi_bike_2019.csv', index=False)